body{ margin: 0;padding: 0;  font-family:ArialMT;overflow:auto;}
body,html{-webkit-text-size-adjust: none;width: 100%;height: 100%;}
*{text-decoration: none;list-style: none;}
img{border: 0px;}
.fl{float: left;}
.fr{float: right;}
.pointer{cursor:pointer;}
::-moz-focus-inner{border:0px;}
/*a:link {color:#0f0;text-decoration:none;}
a:visited {color: #FFFF00; text-decoration:none;}
a:hover {color: #00FF00; text-decoration:underline;}
a:active {color: #0000FF; text-decoration:underline;}*/
a{color: #000;}
.wrapper{clear: both;width: 100%;}
table { border-collapse:collapse; }
.f{color: #ffffff}
.b{color: #bbbbbb}
.c5{color: #c5c5c5c5}
.fw{font-weight: bold}










#warp{
    width: 100%;
    height:auto;
    background: url("../images/di.jpg");
    background-size:100%;
    overflow: auto;
    position: relative;
    z-index: -999;
}

#mydiv{
    width: 100%;
    height:100vh;

}
#mydiv .left{
    width: 60%;
    padding:10%;
    padding-top: 15%;
    box-sizing: border-box;
}
#mydiv .left h1{
    font-size:45px;
}
#mydiv .left span{
    display: inline-block;
    width:30%;
    padding:3%;

    margin:5%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    background:#0dc8e2;
}
#mydiv .right{
     width: 40%;
     padding:15% 5% 1% 5%;
     box-sizing: border-box;
 }
#mydiv .right img{
    width:60%;
    height:60%;
}
.index-content{
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}
.index-content ul{
    /*padding-top:10%;*/
    box-sizing: border-box;
}
.index-content  .found{
    padding-top: 38%;
    box-sizing: border-box;
}


.index-content ul img{
    width: 30%;
    margin-left: 35%;
}
.index-content ul a{
    display: block;
    color: #ffffff;
    margin: 40px auto;
    outline: none;
}
.index-content ul li .p{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top:15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

.index-content p{
    display: inline-block;
    text-align: left;
    font-size: 14px;
    padding: 0 20px;
    box-sizing: border-box;
}

.index-center{
    width: 100%;

}

@media screen and (max-width:768px) {
    #warp{
        position: relative;
        z-index:0;
    }
    #mydiv{
    height:25vh;
    }
    #mydiv .left{
        width: 68%;
        padding:18% 0% 5% 5% ;


    }
    #mydiv .left h1{
        font-size: 24px;
        margin-bottom: 0px;
    }
    #mydiv .left h2{
        font-size: 14px;
        margin-bottom: 0px;
    }
    #mydiv .left span{
        width:42%;
        font-size:10px;
        padding:2%;
        margin: 2%;
    }
    #mydiv .right{
        width: 32%;
        padding:18% 5% 1% 5%;
        box-sizing: border-box;
    }
    #mydiv .right img{
        width:100%;
        height:100%;
    }
    .index-content{
        padding: 10px 15px;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
    }
    .index-content ul a{
        margin: 0;
    }
    .index-content .found{
        padding-top:0;
    }
    .index-content ul img{
       width: 80px;
    margin-left: calc(50% - 40px);
   }
 /*.index-center{*/
     /*height: 500px;*/
 /*}*/


}
