.head{
    width: 100%;
    height: 106px;
    padding: 0 120px;
    box-sizing: border-box;
    background-color: #242b33;
    position: fixed;
    top: 0;
    left: 0;
    /*min-width: 1000px;*/
    font-weight: bold;
}
.head-left{
    height: 50px;
    margin: 28px 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.head-left a{
    display: inline-block;
    float: left;
    overflow: hidden;
}
.head-left a img{
    height: 50px;
    float: left;
    margin: 0;
}
.head-left a span{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    float: left;
    margin-left: 10px;
    font-size: 23px;
    font-weight: bold;
}
.head-left span{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.head-left img{
    height: 26px;
    margin-top: 12px;
    margin-left: 30px;
    float: left;
}
.head-right1{
    height: 50px;
    margin: 28px 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: right;
}

.heade-right2{
	display: none;
}

.head-right1 a{
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
}
.head-right1 a:nth-child(1){
    color: #0fd6f3;
}
.head-right1 a span{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #0fd6f3;
}

.container{
    width: 100%;
    height: 300px;
    padding: 0 120px;
    padding-top: 104px;
    box-sizing: border-box;
}
.container .content-container{
    margin: 100px auto;
}
.container .content-container div{
    overflow: hidden;
}
.container .content-container div img{
    width: 25%;
    float: right;
    margin: 50px 80px;
}

.container .content-container div p{
    font-size: 14px;
    line-height: 2;
    color: #555;
    margin-top: 30px;
}

@media screen and (max-width: 1080px){
	.head-right1{
		display: none;
	}
	.head-right2{
		display: block;
	}
}

@media screen and (max-width: 768px) {

    body,html{
        width: 100%;
        height: 100%;
    }

    .head, .container{
        padding: 0px 30px;
    }
    .head{
        padding: 0 15px;
    }
    .container{
        padding-top: 50px;
    }
    .container .content-container div img{
        width: 100%;
        padding: 0 10%;
        box-sizing: border-box;
        margin: 0;
        float: none;
    }
    .head-left {
        margin: 0 auto;
        float: none;
        height: 20px;
        padding-top: 43px;
    }
    .head-left a img{
        height: 20px;
    }
    .head-left a span{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    .head-left img{
        height: 10px;
        margin: 5px 5px;
    }
    .head-left span{
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        margin: 0;
    }
}


